{% extends 'base.html' %}
{% block title %}All Fedora Cloud images on AWS{% endblock %}

{% block content %}

<div class="px-4 py-1 my-1 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Fedora images on AWS</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead">
            All of the available Fedora releases on AWS appear in the table below.
        </p>
        <p class="text-left">
            Image statuses:<br />
            <span class="badge text-bg-primary">Stable</span> releases are fully tested
            images ready for production workloads.<br />
            <span class="badge text-bg-secondary">Stable nightly</span> images are built
            each day from the stable release but are not thoroughly tested.<br />
            <span class="badge text-bg-warning">Pre-release</span> images come from
            an upcoming release that is not stable yet.<br />
            <span class="badge text-bg-success" title="Latest">Latest</span> images are
            the newest stable and pre-release images for a Fedora version.
            <!-- <span class="badge text-bg-danger">End of life</span> images are no longer
            supported by Fedora. -->

        </p>
    </div>
</div>

<div class=" container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="search-addon1">Filter results:</span>
                <input type="text" class="form-control" placeholder="Search images..." aria-label="Search"
                    aria-describedby="search-addon1" id="filter">
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center" id="fedora_cards">
    {%- for release in releases %}

    {# This might seem silly, but the goal here is to gradually determine how this #}
    {# release should be classified. It runs from the most problematic (EOL) to #}
    {# least (stable nightly builds). #}

    {# A beta on a stable release should be considered EOL since the release has been #}
    {# marked GA already. For example, if Fedora 37 is the latest, then Fedora 37 is #}
    {# not EOL, but Fedora 37_Beta is EOL. #}

    {% if release.fedora_eol or (release.fedora_stable and release.fedora_prerelease) %}
    {% set status_color = "danger" %}
    {% set badge_text = "End of life" %}

    {% elif release.fedora_prerelease %}
    {% set status_color = "warning" %}
    {% set badge_text = "Pre-release" %}

    {% elif release.fedora_nightly %}
    {% set status_color = "secondary" %}
    {% set badge_text = "Nightly" %}

    {% else %}
    {% set status_color = "primary" %}
    {% set badge_text = "Stable" %}
    {% endif %}

    <div class="card m-1" style="width: 18rem;">
        <div class="card-body bg-{{ status_color }}-subtle">
            <h5 class="card-title">{{ release.fedora_release }}</h5>
            <p class="card-text">
                <span class="badge text-bg-{{ status_color }}" title="{{badge_title}}">
                    {{ badge_text }}
                </span>
                {% if release.fedora_latest_stable or release.fedora_latest_prerelease %}
                <span class="badge text-bg-success" title="Latest">
                    Latest
                </span>
                {% endif %}
                {% if release.fedora_arch == "x86_64" %}
                <span class="badge text-bg-primary">
                    x86 (Intel/AMD)
                </span>
                {% elif release.fedora_arch == "aarch64" %}
                <span class="badge text-bg-dark">
                    ARM/aarch64
                </span>
                {% endif %}
                <a href="{{ url_for('aws_image_detail', release=release.fedora_release) }}" class="stretched-link">

                </a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container py-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="alert alert-primary mx-5 border" role="alert">
                🤓 Get this data via a JSON API!
                <a href="{{ url_for('api_aws_image_list') }}">
                    <span class="badge bg-success">Try it!</span>
                </a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Create the DataTable
        var table = $("#images").DataTable({
            orderCellsTop: true,
            order: [[0, 'desc']],
            "paging": false,
        });
    });

    $("#filter").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#fedora_cards > div").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>

{% endblock %}