{% extends 'base.html' %}
{% block title %}Fedora Cloud images on AWS for release {{ release }}{% endblock %}

{% block content %}

<div class="px-4 py-1 my-1 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Fedora release: {{ release }}</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">
            Choose your preferred region below and click on the architecture to launch
            an instance.
        </p>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-4 mx-auto align-middle">
            <div class="alert alert-primary" role="alert">
                🤓 Get this data via a JSON API!
                <a href="{{ url_for('api_aws_image_detail', release=release) }}">
                    <span class="badge bg-success">Try it!</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4 py-3 text-center">
    {% for region in images.Region.unique() %}
    <div class="col">
        <div class="card">
            <div class=" card-body bg-secondary-subtle">
                <h5 class="card-title"><span class="fi fi-{{ region_flags[region]}}"></span> {{ region }}</h5>
                <p class="card-text">
                    {% for _, image in images[images.Region == region].iterrows() %}
                    {% set arch = "aarch64" if image.Architecture == "arm64" else "x86_64" %}

                    <a role="button" target="_blank"
                        href="https://{{ Region }}.console.aws.amazon.com/ec2/home?region={{ Region }}#LaunchInstances:ami={{ image.ImageId }}"
                        class="btn btn-{{ 'primary' if arch == 'x86_64' else 'secondary' }}">
                        {{ arch }}
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}