{% extends 'base.html' %}
{% block title %}All Fedora Cloud images on AWS{% endblock %}

{% block content %}

<div class="px-4 py-1 my-1 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Fedora images on AWS</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead">
            All of the available Fedora releases on AWS appear in the table below.<br />
            Each images is noted with a status, which can be one of the following:
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="search-addon1">Filter results:</span>
                <input type="text" class="form-control" placeholder="Search images..." aria-label="Search"
                    aria-describedby="search-addon1" id="filter">
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center" id="fedora_cards">
    {%- for release in releases | sort(reverse=True) %}
    {% set fedora_version = release.split("-")[0] %}
    {% set fedora_arch = release.split(".")[-1] %}
    {% set is_prerelease = (fedora_version in prereleases or "Beta" in release) %}
    {% set is_nightly = (release.split(".")[0] | length > 8) %}
    {% set is_eol = (fedora_version.split("_")[0] not in stable_releases and fedora_version.split("_")[0] not in
    prereleases) %}
    {% if is_eol %}
    {% set status_color = "danger" %}
    {% set badge_text = "End Of Life" %}
    {% set badge_title = "No longer supported by Fedora. Do not use." %}
    {% elif is_prerelease %}
    {% set status_color = "warning" %}
    {% set badge_text = "Pre-Release" %}
    {% set badge_title = "Early Fedora release and possibly unstable." %}
    {% elif is_nightly %}
    {% set status_color = "secondary" %}
    {% set badge_text = "Stable Nightly" %}
    {% set badge_title = "Automated and untested nightly build of a stable release." %}
    {% else %}
    {% set status_color = "primary" %}
    {% set badge_text = "Stable" %}
    {% set badge_title = "Currently supported by Fedora and receiving updates." %}
    {% endif %}
    <div class="card m-1" style="width: 24rem;">
        <div class="card-body bg-{{ status_color }}-subtle">
            <h5 class="card-title">{{ release }}</h5>
            <p class="card-text">
                <span class="badge text-bg-{{ status_color }}" title="{{badge_title}}">
                    {{ badge_text }}
                </span>
                {% if release.endswith("x86_64") %}
                <span class="badge text-bg-primary">
                    x86 (Intel/AMD)
                </span>
                {% elif release.endswith("aarch64") %}
                <span class="badge text-bg-dark">
                    ARM/aarch64
                </span>
                {% endif %}
                <a href="{{ url_for('aws_image_detail', release=release) }}" class="stretched-link">

                </a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container py-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="alert alert-primary mx-5 border" role="alert">
                🤓 Get this data via a JSON API!
                <a href="{{ url_for('api_aws_image_list') }}">
                    <span class="badge bg-success">Try it!</span>
                </a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Create the DataTable
        var table = $("#images").DataTable({
            orderCellsTop: true,
            order: [[0, 'desc']],
            "paging": false,
        });
    });

    $("#filter").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#fedora_cards > div").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>

{% endblock %}