{% extends 'base.html' %}
{% block title %}Fedora Cloud images{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <h1>Fedora on AWS</h1>
            <p class="lead">
                Start by choosing your preferred stable Fedora release below:
            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        {% for index, row in combined_releases.iterrows() if not row.prerelease %}
        <div class="col-md-auto p-1">
            <a class="btn btn-primary" role="button" href="{{ url_for('aws_image_detail', release=row.release) }}">
                Fedora {{ row.release }}
            </a>
        </div>
        {% endfor %}
        <div class="col"></div>
    </div>
    <div class="row py-3">
        <div class="col">
            Looking for other images?
            View the <a href="{{ url_for('aws_image_list') }}">complete listing</a>.
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <h5 class="text-center">Frequently Asked Questions</h5>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            What about other cloud providers?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Image listings for more providers are coming soon! Stay tuned.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            I have feedback to share or I found a bug. What should I do?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Visit our [GitHub repository](https://github.com/redhatcloudx/fedora-image-directory) and
                            open an issue. We also love your pull requests. 🥰
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock %}