{% extends 'base.html' %}
{% block content %}

<h1>Fedora Cloud Images on AWS</h1>

{% if current_version %}
<h3>
    Fedora {{ current_version }}
</h3>
{% endif %}

<table id="images" class="table table-striped table-hover">
    <thead>
        <tr>
            <!-- <th scope="col">Name</th> -->
            <th scope="col">Version</th>
            <th scope="col">Revision</th>
            <th scope="col">Release</th>
            <th scope="col">Arch</th>
            <th scope="col">Virt Type</th>
            <th scope="col">Storage Type</th>
            <th scope="col">Region</th>
        </tr>
    </thead>
    <tbody>
        {%- for index, row in images.iterrows() %}
        <tr>
            <!-- <td>{{ row['Name'] }}</td> -->
            <td>
                <a href="{{ url_for('versions', version=row['FedoraVersion']) }}">
                    {{ row['FedoraVersion'] }}
                </a>
            </td>
            <td>{{ row['FedoraRevision'] }}</td>
            <td>{{ "Final" if row['Official'] else "Nightly" }}</td>
            <td>{{ row['FedoraArch'] }}</td>
            <td>{{ row['FedoraVirtType'] }}</td>
            <td>{{ row['FedoraStorage'] }}</td>
            <td>{{ row['Region'] }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        // Create the DataTable
        var table = $("#images").DataTable({
            orderCellsTop: true,
            order: [[0, 'desc'], [2, 'asc'], [1, 'desc']],
            lengthMenu: [
                [25, 50, 100, -1],
                [25, 50, 100, 'All'],
            ],
            // columnDefs: [
            //     {
            //         target: 0,
            //         visible: false,
            //         searchable: true,
            //     },
            // ],
        });
    });
</script>
{% endblock %}